.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.object-fit-contain {
  height: 250px; /* Set a fixed height for the image */
  object-fit: contain; /* Ensure the image is fully visible inside the fixed height */
  object-position: center; /* Center the image within the container */
}

.navbar-brand {
  margin: 10px;
}

.favorite-movies-list {
  list-style-type: none;
  padding: 0;
}

/* Style for individual movie items */
.favorite-movie-item {
  display: flex;
  justify-content: center; /* Center the movie title and button within the row */
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

/* Style for the movie titles */
.movie-title {
  text-align: center;
  flex: 1; /* Makes the title occupy all available space */
}

.delete-button {
  padding: 5px 10px;
  font-size: 0.8rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  right: 1in; /* Align the button to the right */
}

.delete-button:hover {
  background-color: #cc0000; /* Darker red on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
